* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --background-width: 12000px;
  --background-height: 12000px;
  --font-color: #000;
}

@font-face {
    font-family: 'Oroban-Masuria';
    src: url('../assets/fonts/Oroban-Masuria.eot');
    src: url('../assets/fonts/Oroban-Masuria.woff2') format('woff2'),
        url('../assets/fonts/Oroban-Masuria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p, a {
  text-decoration: none;
  color: var(--font-color);
}

body {
  overflow: hidden; /* this is important to prevent the whole page to bounce */
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  opacity: 1;
  transition: 1.7s opacity;
  font-variant-ligatures: none;
}

body.fade {
    opacity: 0;
    transition: none;
}

/* info-box, menu, copyright start*/
#menu, #copyright {
  position: absolute;
  right: 0;
  z-index: 4;
  text-align: left;
  margin: 10px 15px 11px 0;
}

  #menu a {
    color: var(--font-color);
    margin-left: 10px;
    font-family: 'Oroban-Masuria';
    font-size: 13pt;
  }

  #menu a:hover {
    text-decoration: underline;  
  }

  #show-embroidery {
    left:0;
    position: absolute;
    z-index: 4;
    font-family: 'Oroban-Masuria';
    font-size: 13pt;
    margin: 10px 15px 10px 15px;

  }

  .active {
    text-decoration: underline;  
  }

  #sound-button {
    width: 100px;
    display: inline-block;
    text-align: right;
  }

  #info-box {
    position: absolute;
    width: 280px;
    height:auto;
    background: rgba(255,255,255, 0.6);
    z-index:4;
    right: 20px;
    top: 40px;
    padding: 15px;
    display: none;
  }
    #info-box p {
      font-family: 'Oroban-Masuria';
      font-size: 13pt;
      line-height: 15pt;
    }
    #info-box li {
      font-family: 'Oroban-Masuria';
      font-size: 13pt;
      line-height: 15pt;
      color: var(--font-color);
    }
    #info-box #x-button {
      position: absolute;
      right: 15px;
      display: none;
    }

    .text-indent {
      text-indent: 0.7em;
    }

    ol {
      list-style-type: none;
      counter-reset: item;
      margin: 0;
      padding: 0;
      font-family: 'Oroban-Masuria';
      font-size: 13pt;
      line-height: 15pt;
    }

    ol > li {
      display: table;
      counter-increment: item;
      /*margin-bottom: 0.6em;*/
    }

    ol > li:before {
      content: counters(item, ".") ". ";
      display: table-cell;
      padding-right: 0.2em;    
    }

    li ol > li {
      margin: 0;
    }

    li ol > li:before {
      content: counters(item, ".") " ";
      padding-left: 0.7em;
    }

    #info-box a:hover {
      text-decoration: underline;
      color: blue;
    }

#copyright {
  bottom:0;
}
  #copyright a {
    font-family: 'Oroban-Masuria';
    font-size: 9.5pt;
  }
/* info-box, menu, copyright end*/
.center-parent {
  display: flex;
  justify-content: center;
}
#embroidery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:rgba(0,0,0, 0.6);
  z-index: 5;
  display: none;
  pointer-events: none;
}
  #embroidery img {
    height: 85vh;
    max-height: 1120px;
    margin-top:2vh;
  }
  #embroidery p {
    width: 800px;
    font-family: 'Oroban-Masuria';
    font-size: 17pt;
    line-height: 18pt;
    text-align: center;
    color: white;
    position: absolute;
    margin-top:85vh;
    /*background: rgba(255,255,255, 0.6);*/
    padding: 15px;
  }
  #embroidery a {
    color: white;
    pointer-events: auto;
  }
#wrapper {
  position: absolute;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#scroller {
  position: absolute;
  z-index: 4;
  width: 15425px; /*storleken på sidan*0.4 (scroll-hastighet)*/
  height: 15650px;
  overflow: hidden;
}

.block {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#layer01 img, #layer02 img{
  transition: all 400ms;
  position: absolute;
}

#layer01 {
  z-index: 2;
}
#layer02 {
  z-index: 3;
}

#target-layer {
  position: absolute;
  z-index: 4;
}

.target-block {
  /*background:red;*/
  width: 100px;
  height: 100px;
  position: absolute;
}

/*fence start*/
#fence-block{
  position: absolute;
  top: 35px;
  left: 35px;
}
.fence-corner {
  width: 500px;
}
.fence {
  width: 1165px; /*fence-corner x 2,33*/
}
#fence-top img {
  position: relative;
}
  #fence-top .fence {
    transform: translate(33px, -44px);
    margin-left: -4px;
  }
  #fence-top .fence-corner {
    transform: rotate(270deg) translate(16px, 16px);
  }

#fence-left {
  width: 1165px;
  height: 11000px;
}
  #fence-left .fence-corner {
    transform: rotate(180deg) translate(1px, 36px);
  }
  #fence-left img {
    position: relative;
  }
  #fence-left .fence {
    transform: rotate(270deg) translate(371px, -339px);
    margin-top: 673px;
  }

#fence-bottom {
}
  #fence-bottom .fence-corner {
    transform: rotate(90deg) translate(630px, -514px);
    /*bottom: -628px;*/
  }
  #fence-bottom img {
    position: relative;
  }
  #fence-bottom .fence {
    transform: rotate(180deg) translate(-501px, -614px);
    /*bottom: -611px;*/
    margin-left: -4px;
  }

#fence-right {
  width: 1165px;
  height: 11000px;
}
  #fence-right img {
    position: relative;
  }
  #fence-right .fence {
    transform: rotate(90deg) translate(-12411px, -11854px);
    margin-top: 673px;
  }
  #fence-right .fence-corner {
    transform: translate(12181px, -12073px);
  }

/*fence end*/

#background {
  z-index: 1;
  display: inline-flex;
  width: var(--background-width);
  height: var(--background-height);
  flex-direction: flex-start;
  background:#eee;
}
  #background img {
    width: 1100px;
    height: 1100px;
    margin:0;
    padding:0;
    margin: -3px;
    position: relative;
  }
  .background-row {
    position: absolute;
    left: 0;
  }
  #background-row-1 {top: 0;}
  #background-row-2 {top: calc(1*1100px);}
  #background-row-3 {top: calc(2*1100px);}
  #background-row-4 {top: calc(3*1100px);}
  #background-row-5 {top: calc(4*1100px);}
  #background-row-6 {top: calc(5*1100px);}
  #background-row-7 {top: calc(6*1100px);}
  #background-row-8 {top: calc(7*1100px);}
  #background-row-9 {top: calc(8*1100px);}
  #background-row-10 {top: calc(9*1100px);}

/* content start*/
.up-down-animation {
  animation-name: up-down;
  animation-duration: 2.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.down-up-animation {
  animation-name: down-up;
  animation-duration: 2.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes up-down {
  0% {transform: translateY(0);}
  100% {transform: translateY(-20px);}
}

@keyframes down-up {
  0% {transform: translateY(0);}
  100% {transform: translateY(20px);}
}

/* content end*/

#music {
  visibility: hidden;
}


@media only screen and (max-width: 600px) {
  #menu, #copyright, #embroidery {
    display: none;
  }
  }














